input {
  padding: 10px;
  border-radius: 30px;
  margin: 10px;
}

textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.submitbtn {
  padding: 10px 20px;
  background-color: firebrick;
  color: white;
  border: none;
  border-radius: 50px;
}
